body {
    margin: 0;
    height: 100vh;
    background-color: #D5E1EF;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #1F314F;
    font-size: 1.25rem;
    margin-bottom: 16px;
}

.card-text {
    color: #68778D;
}

.card,
.card img {
    border-radius: 20px;
}

.card {
    width: 320px;
    background-color: #fff;
    text-align: center;
    padding: 16px 16px 40px;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    margin-bottom: 24px;
}

.card-body {
    padding: 0 1em;
}